/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0 auto;
    text-align: center;

}

#flash {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: lightgreen;

}

#button {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#todo {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#todo-list {
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
}




li:nth-child(even) {
    background: lightgrey;
}

#x {
    float: right;
    display: inline-block;
    color: red;

}

#todos {
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
}

#flash-message {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: lightgreen;
}

.remove {
    display: inline-block;
    float: right;
    color: red;
}

#delete-message {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: red;
}

.check {
    display: inline-block;
    float: right;
    color: green;
}

#completed {
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
}

#complete-message {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: lightgreen;
}

